---
layout: page
---
<head>
  <link rel="icon" type="image/png" href="bulbfavicon.ico">

</head>

<div class="post">
  <!-- Wrapper Start -->
  <section id="blog-intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
        <div id="share-buttons">
          <h4>Share This:</h4>
            <!-- LinkedIn -->
              <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ post.url | prepend: site.baseurl }}" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
            <!-- Twitter -->
              <a href="https://twitter.com/share?url=https://admissionsmarket.com/MBAsweighinonAdmissionsConsulting.html.com&amp;text=MBAs%20weigh%20in%20on%20admissions%20consulting&amp;hashtags=AdmissionsMarket" target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
            <!-- Facebook -->
            <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        </div>
        <script language="javascript">
            function fbshareCurrentPage()
            {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '',
            'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false; }
        </script>
      </div>
    </div>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>
